<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a class="footer-logo" href="{{ '/' | relative_url }}" aria-label="Home">
          <img src="{{ '/assets/' | append: site.logo | relative_url }}" alt="" />
        </a>
      </div>
      <div class="footer-col footer-col-2">
        <h3 class="footer-heading">Contact</h3>
        <ul class="contact-list">
          <li class="p-name">{{ site.title | escape }}</li>
          <li><a class="u-email" href="mailto:info@rseaa.org">info@rseaa.org</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <h3 class="footer-heading">Quick links</h3>
        <ul class="social-media-list">
          <li><a href="https://forms.gle/6YdKBMNX19vniVmk8" title="Mailing list">Mailing list</a></li>
          <li><a href="https://www.linkedin.com/company/rseaa/" title="LinkedIn">LinkedIn</a></li>
          <li><a href="https://fediverse.au/@RSEAA" title="Mastodon">Mastodon</a></li>
          <li><a href="https://rse-aunz.github.io/code-of-conduct" title="Code of Conduct">Code of Conduct</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
