<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a class="footer-logo" href="{{ '/' | relative_url }}" aria-label="Home">
          <img src="{{ '/assets/' | append: site.logo | relative_url }}" alt="" />
        </a>
      </div>
      <div class="footer-col footer-col-2">
        <h3 class="footer-heading">Contact</h3>
        <ul class="contact-list">
          <li class="p-name">{{ site.title | escape }}</li>
          <li><a class="u-email" href="mailto:info@rseaa.org">info@rseaa.org</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <h3 class="footer-heading">Quick links</h3>
        <ul class="social-media-list">
          <li><a href="https://forms.gle/6YdKBMNX19vniVmk8" title="Mailing list"><span class="social-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor"><path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/></svg></span> Mailing list</a></li>
          <li><a href="https://www.linkedin.com/company/rseaa/" title="LinkedIn"><span class="social-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor"><path d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77z"/></svg></span> LinkedIn</a></li>
          <li><a href="https://fediverse.au/@RSEAA" title="Mastodon"><span class="social-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor"><path d="M4 4v16h3.5V12h2.5l2.5 8h3.5l-2.5-8h2.5V4H4z"/></svg></span> Mastodon</a></li>
          <li><a href="https://rse-aunz.github.io/code-of-conduct" title="Code of Conduct"><span class="social-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor"><path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm0 10.99h7c-.53 4.12-3.28 7.79-7 8.94V12H5V6.3l7-3.11v8.8z"/></svg></span> Code of Conduct</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
